@import "../../GlobalStyle";

$header-height: 50px;

.header__wrapper {
  background-color: $main-color;

  min-height: $header-height;

  .header__inner {
    display: flex;
    justify-content: space-between;

    .header__left {
      display: flex;
      align-items: center;

      height: $header-height;

      &__menu--button {
        color: white;
        font-size: calc(#{$header-height} / 2);

        padding-left: 10px;
      }
    }
  }
}